@import url(http://fonts.googleapis.com/css?family=Oxygen+Mono);
/* Please Keep this font import at the very top of any CSS file */
@charset "UTF-8";

/*  CSS para grids */

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.1fr;
  grid-template-rows: 0.5fr 0,2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.3fr;
  gap: 1px 1px;
  grid-template-areas: "header header header header header header header header header header" "disponible disponible disponible disponible disponible disponible disponible disponible disponible disponible" "navleft navcenter navcenter navcenter navcenter navcenter navcenter navcenter navcenter navright" "navleft content1 content1 content1 content1 content2 content2 content2 content2 navright" "navleft content1 content1 content1 content1 content2 content2 content2 content2 navright" "navleft content1 content1 content1 content1 content2 content2 content2 content2 navright" "navleft content3 content3 content3 content3 content4 content4 content4 content4 navright" "navleft content3 content3 content3 content3 content4 content4 content4 content4 navright" "navleft content3 content3 content3 content3 content4 content4 content4 content4 navright" "footer footer footer footer footer footer footer footer footer footer";
}

.header { grid-area: header; }

.footer { grid-area: footer; }

.navleft { grid-area: navleft; }

.navcenter { grid-area: navcenter; }

.navright { grid-area: navright; }

.content1 { grid-area: content1;

}



.content2 { grid-area: content2; }

.content3 { grid-area: content3; }

.content4 { grid-area: content4; }

.disponible { grid-area: disponible; }

.header{
  background: linear-gradient(90deg, rgba(27,155,255,0.7363678747866333) 33%, rgba(65,64,64,1) 71%);
}
#titulo{
    color: whitesmoke;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 20px;
    letter-spacing: 0px;
    word-spacing: -0.2px;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-align: left;
    margin-top: 10px;
  }
  .logo{
    margin-left: 28cm;
    padding: 0px;
  }

body{background: #626262;}

.responsive-iframe {
  -ms-zoom: 0.85;
  -moz-transform: scale(0.75);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.75);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.75);
  -webkit-transform-origin: 0 0;
}

iframe {
   display:block; 
   width:100%; 
   border:none;
  }

  

/*  CSS para navcenter */

#menucenter,
#menucenter ul,
#menucenter li,
#menucenter a {
  border: none;
  line-height: 1;
  margin: 0;
  padding: 0;
}
#menucenter {
  height: 37px;
  display: block;
  border: 1px solid;
  border-radius: 5px;
  width: auto;
  border-color: #080808;
  margin: 0;
  padding: 0;
}
#menucenter > ul {
  list-style: inside none;
  margin: 0;
  padding: 0;
}
#menucenter > ul > li {
  list-style: inside none;
  float: left;
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
}
#menucenter.align-center > ul {
  text-align: center;
}
#menucenter.align-center > ul > li {
  float: none;
  margin-left: -3px;
}
#menucenter.align-center ul ul {
  text-align: left;
}
#menucenter.align-center > ul > li:first-child > a {
  border-radius: 0;
}
#menucenter > ul > li > a {
  outline: none;
  display: block;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
  font-weight: 700;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  border-right: 1px solid #080808;
  color: #ffffff;
  padding: 12px 20px;
}
#menucenter > ul > li:first-child > a {
  border-radius: 5px 0 0 5px;
}
#menucenter > ul > li > a:after {
  content: "";
  position: absolute;
  border-right: 1px solid;
  top: -1px;
  bottom: -1px;
  right: -2px;
  z-index: 99;
  border-color: #3c3c3c;
}
#menucenter ul li.has-sub:hover > a:after {
  top: 0;
  bottom: 0;
}
#menucenter > ul > li.has-sub > a:before {
  content: "";
  position: absolute;
  top: 18px;
  right: 6px;
  border: 5px solid transparent;
  border-top: 5px solid #ffffff;
}
#menucenter > ul > li.has-sub:hover > a:before {
  top: 19px;
}
#menucenter > ul > li.has-sub:hover > a {
  padding-bottom: 14px;
  z-index: 999;
  border-color: #3f3f3f;
}
#menucenter ul li.has-sub:hover > ul,
#menucenter ul li.has-sub:hover > div {
  display: block;
}
#menucenter > ul > li.has-sub > a:hover,
#menucenter > ul > li.has-sub:hover > a {
  background: #3f3f3f;
  border-color: #3f3f3f;
}
#menucenter ul li > ul,
#menucenter ul li > div {
  display: none;
  width: auto;
  position: absolute;
  top: 38px;
  background: #3f3f3f;
  border-radius: 0 0 5px 5px;
  z-index: 999;
  padding: 10px 0;
}
#menucenter ul li > ul {
  width: 200px;
}
#menucenter ul ul ul {
  position: absolute;
}
#menucenter ul ul li:hover > ul {
  left: 100%;
  top: -10px;
  border-radius: 5px;
}
#menucenter ul li > ul li {
  display: block;
  list-style: inside none;
  position: relative;
  margin: 0;
  padding: 0;
}
#menucenter ul li > ul li a {
  outline: none;
  display: block;
  position: relative;
  font: 10pt Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 8px 20px;
}
#menucenter,
#menucenter ul ul > li:hover > a,
#menucenter ul ul li a:hover {
  background: #3c3c3c;
  background: -moz-linear-gradient(top, #3c3c3c 0%, #222222 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3c3c3c), color-stop(100%, #222222));
  background: -webkit-linear-gradient(top, #3c3c3c 0%, #222222 100%);
  background: -o-linear-gradient(top, #3c3c3c 0%, #222222 100%);
  background: -ms-linear-gradient(top, #3c3c3c 0%, #222222 100%);
  background: linear-gradient(top, #3c3c3c 0%, #222222 100%);
}
#menucenter > ul > li > a:hover {
  background: #080808;
  color: #ffffff;
}
#menucenter ul ul a:hover {
  color: #ffffff;
}
#menucenter > ul > li.has-sub > a:hover:before {
  border-top: 5px solid #ffffff;
}


#loginbox {
  position: fixed;
  width: 340px;
  height: 280px;
  top: 50%;
  left: 50%;
  margin-top: -140px;
  margin-left: -170px;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  -webkit-animation-name: bounceIn;
  -webkit-animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: bounceIn;
  -moz-animation-fill-mode: both;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: linear;
  animation-name: bounceIn;
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

form {
  margin: 0 auto;
  margin-top: 20px;
}

label {
  color: #555;
  display: inline-block;
  margin-left: 18px;
  padding-top: 10px;
  font-size: 14px;
}

p a {
  font-size: 11px;
  color: #aaa;
  float: right;
  margin-top: -13px;
  margin-right: 20px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  transition: all .4s ease;
}

p a:hover {
  color: #555;
}

input {
  font-family: &quot;Helvetica Neue&quot;, Helvetica, sans-serif;
  font-size: 12px;
  outline: none;
}

input[type=name],
input[type=password] {
  color: #777;
  padding-left: 10px;
  margin: 10px;
  margin-top: 12px;
  margin-left: 18px;
  width: 290px;
  height: 35px;
  border: 1px solid #c7d0d2;
  border-radius: 2px;
  box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  transition: all .4s ease;
}

input[type=name]:hover,
input[type=password]:hover {
  border: 1px solid #b6bfc0;
  box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .7), 0 0 0 5px #f5f7f8;
}

input[type=name]:focus,
input[type=password]:focus {
  border: 1px solid #a8c9e4;
  box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #e6f2f9;
}

#lower {
  background: #ecf2f5;
  width: 100%;
  height: 69px;
  margin-top: 20px;
  box-shadow: inset 0 1px 1px #fff;
  border-top: 1px solid #ccc;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

input[type=checkbox] {
  margin-left: 20px;
  margin-top: 30px;
}

.check {
  margin-left: 3px;
  font-size: 11px;
  color: #444;
  text-shadow: 0 1px 0 #fff;
}

input[type=submit] {
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  width: 80px;
  height: 30px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#acd6ef), to(#6ec2e8));
  background-image: -moz-linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
  background-image: linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
  border-radius: 30px;
  border: 1px solid #66add6;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
  cursor: pointer;
}

input[type=submit]:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b6e2ff), to(#6ec2e8));
  background-image: -moz-linear-gradient(top left 90deg, #b6e2ff 0%, #6ec2e8 100%);
  background-image: linear-gradient(top left 90deg, #b6e2ff 0%, #6ec2e8 100%);
}

input[type=submit]:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6ec2e8), to(#b6e2ff));
  background-image: -moz-linear-gradient(top left 90deg, #6ec2e8 0%, #b6e2ff 100%);
  background-image: linear-gradient(top left 90deg, #6ec2e8 0%, #b6e2ff 100%);
}